[submodule "deps/sourcemod"]
	path = deps/sourcemod
	url = https://github.com/alliedmodders/sourcemod
	branch = 1.10-dev
[submodule "deps/mmsource"]
	path = deps/mmsource
	url = https://github.com/alliedmodders/metamod-source
	branch = 1.10-dev
[submodule "deps/hl2sdk-csgo"]
	path = deps/hl2sdk-csgo
	url = https://github.com/alliedmodders/hl2sdk
	branch = csgo
